h1{
  text-shadow: 3px 2px red;
    text-align:center;
  }


  nav ul li {
    background-color: aqua;
    display: inline;
  

  }
  
  body{
    background-color: tomato;
  }


  img{
    margin-left: 300px;
  margin-top: 30px;

  }
  
  li a {
    display: block;
    color: teal;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: turquoise;
  }
  
  ul li a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 